* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk";
    background:#282726;
    /* display: flex;
    justify-content: center; */
    color: #F9F4DA;
    height: 100vh;
    padding: 20px;
}

.wrapper {
  max-width: 450px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
    text-align: center;
    margin-top: 20px;
}

.header-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 0px;
    color: #F9F4DA;
}

.header-descripton {
    margin-top: 15px;
    color: #8E8E8E;
    font-size: 18px;
    line-height: 100%;
    max-width: 400px;
}

.status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
    padding: 6px;
    max-width: 400px;
    width: 350px;
}

.status-container.won {
    background-color: #10A95B;
}

.status-container.lost {
    background-color: #BA2A2A;
}

.status-container.farewell {
    background: #7A5EA7;
    border: 1px dashed #323232;
    padding: 10px;
}

.status-header {
    color: #F9F4DA;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
}

.status-description {
    margin: 0px;
    color: #F9F4DA;
    font-weight: 400;
    font-size: 16px;
}

.language-list {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 0 auto;
} 

.language-unit {
    position: relative;
    font-family: Hanken Grotesk;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding: 4.5px;
    border-radius: 3px;
}

.language-unit.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2.5px;
}

.word-list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 50px;
}

.word-list > span {
    background-color: #323232;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Hanken Grotesk;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    border-bottom: 1px solid #F9F4DA;
}

.word-list > span.missed-letter {
    color: #EC5D49;
}

.alphabet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-width: 450px;
    margin-bottom: 30px;
}

.alphabet-list > button {
    background-color: #FCBA29;
    padding: 6px;
    height: 40px;
    width: 40px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    cursor: pointer;
    font-family: Hanken Grotesk;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.alphabet-list > button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.new-button {
    background: #11B5E5;
    color: #1E1E1E;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 8px 30px;
}

.alphabet-list > button.correct {
    background-color: #10A95B;
}

.alphabet-list > button.wrong {
    background-color: #EC5D49;
}